
*{
  margin:0;
  padding:0;
  font-family: 'Arial', Helvetiva sans-serif;

}
.titulo{
  width: 100%;
  padding: 10px;
}
.main{
  width: 100%;
  min-height: 100vh;
  background-color: #ccc;
  padding: 20px ;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.carduser:nth-last-child(1) {
    display: none;
}
ul{
  display: flex;

  width: 100%;
}
ul li{
  list-style: none;
  margin: auto 10px;
  padding: 5px;
  cursor: pointer;

}
img{
  margin: 10px;
  width: 120px;
  height: 120px;
  object-fit: cover;
 
}
.avatar{
   border-radius: 50%;
  border: 3px solid #276a96;
  box-sizing: border-box;
}
.centrar{
  text-align: center;
  margin: auto;
}
/* Animated */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
 /* user */

 .carduser{
    overflow: hidden;
    width: 32%;
    padding: 10px;
    border: 1px solid #666;
    margin: 0.6%;
    box-sizing: border-box;
   
 }
 .carduser p{
   padding: 5px;
 }
 @media (max-width: 400px){
   .carduser{
     width: 48%;
     margin: 0.7%;
   }
 }